*{
    margin:0;
    padding : 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

.logo{
    font-family: 'Open Sans', sans-serif;
}
.navbar-container{
    padding : 0 90px;
    color:white;
}
.flex-6{
    flex: 6;
}
.flex-2{
    flex: 2;
}
.logo{
    font-family: "Sen", sans-serif;
    color:#4dbf00;
}
.toggle{
    color:goldenrod;
}
.toggle-ball{
    transition: 1s ease all;
}
.white{
    color:white;
}
.container-90{
    width:90%;
    margin: 0 auto;
}
.featured-content{
    
    height:51vh;
}
.movie-list-item{
    transition: all 0.5s ease-in-out;
}

.movie-list-item:hover .featured-desc{
    opacity: 1;
    font-size: 0.75rem;
}

.movie-list-item:hover .rating{
    opacity: 1;
    font-size: 15px;
}
.movie-list-item:hover .movie-list-item-title{
    opacity: 1;
    font-size: 18px;
}


.featured-desc{
    transition: 1s all ease-in-out;
    opacity: 0;
}
.movie-list-item-title{
    transition: 1s all ease-in-out;
    opacity: 0;
}
.movie-list-item-button{
    transition: 1s all ease-in-out;
    opacity: 0;
}
.movie-list-item:hover {
    transform: scale(1.2);
    margin: 0 30px;

}
.movie-list-item-img{
    object-fit: cover;
    transition: all 1s ease-in-out;
    border-radius: 20px;
    
}
.movie-list-item-img:hover{
    opacity: 0.5;
}
.movie-list{
    transition: all 1s ease-in-out;
}
.toggle-ball.active{
    transform: translate(-32px);
    background-color: white;
}
.navbar.active{
    background-color: white;
}
.menu.active{
    color:black;
}
.sidebar.active{
    background-color: white;
}
.cont.active{
    background-color: white;
    color: black;
}
.left-menu-icon.active{
    color:black;
}
.toggle.active{
    background-color: black;
}


/* css animation */

.new-section {
    padding-top: 50px;
    text-align: center;
    font-size: 4em;
    font-weight: 100;
  }

  .scroll-animations {
    display: flex;
  }
  
.tags {
    width:80%;
    display:flex;
    flex-wrap : wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    padding: 10px 20px;
    background-color: orange;
    border-radius: 50px;
    margin: 5px;
    cursor: pointer;
}

.tag.highlight{
    background-color: red;
}
.no-results{
    font-size: 30px;
}

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

