*{
    margin:0;
    padding : 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

.logo{
    font-family: 'Open Sans', sans-serif;
}
.navbar-container{
    padding : 0 90px;
    color:white;
}
.flex-6{
    flex: 6;
}
.flex-2{
    flex: 2;
}
.logo{
    font-family: "Sen", sans-serif;
    color:#4dbf00;
}
.toggle{
    color:goldenrod;
}
.toggle-ball{
    transition: 1s ease all;
}
.white{
    color:white;
}
.container-90{
    width:90%;
    margin: 0 auto;
}
.featured-content{
    
    height:51vh;
}
.movie-list-item{
    transition: all 0.5s ease-in-out;
}

.movie-list-item:hover .featured-desc{
    opacity: 1;
    font-size: 0.75rem;
}

.movie-list-item:hover .rating{
    opacity: 1;
    font-size: 15px;
}
.movie-list-item:hover .movie-list-item-title{
    opacity: 1;
    font-size: 18px;
}


.featured-desc{
    /* transition: 1s all ease-in-out;
    opacity: 0; */
}
.movie-list-item-title{
    transition: 1s all ease-in-out;
    opacity: 0;
}
.movie-list-item-button{
    transition: 1s all ease-in-out;
    opacity: 0;
}
.movie-list-item:hover {
    transform: scale(1.2);
    margin: 0 30px;

}
.movie-list-item-img{
    object-fit: cover;
    transition: all 1s ease-in-out;
    border-radius: 20px;
    
}
.movie-list-item-img:hover{
    opacity: 0.5;
}
.movie-list{
    transition: all 1s ease-in-out;
}
.toggle-ball.active{
    transform: translate(-32px);
    background-color: white;
}
.navbar.active{
    background-color: white;
}
.menu.active{
    color:black;
}
.sidebar.active{
    background-color: white;
}
.cont.active{
    background-color: white;
    color: black;
}
.left-menu-icon.active{
    color:black;
}
.toggle.active{
    background-color: black;
}




/* css animation */

.new-section {
    padding-top: 50px;
    text-align: center;
    font-size: 4em;
    font-weight: 100;
  }

  .scroll-animations {
    display: flex;
  }
  
.tags {
    width:80%;
    display:flex;
    flex-wrap : wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    padding: 10px 20px;
    background-color: orange;
    border-radius: 50px;
    margin: 5px;
    cursor: pointer;
}

.tag.highlight{
    background-color: red;
}
.no-results{
    font-size: 30px;
}



.search{
    background-color: transparent;
    /* border: 2px solid white; */
    padding:0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color:#fff;
    font-family: inherit;
}
.search.active{
    border: 2px solid black;
}

.search:focus{
    outline:0;
    background-color: var(--primary-color);
}

.search::placeholder{
    color: #7378c5;
}

.overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    color: transparent;
    background-color:white;
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition:transform 1.0s ease-in;
    display: none;
    
}
 
.movie-list-item:hover .overview{
    transform:translateY(0);
    display: block;
    color: white;
    background-color:white;
    transition:transform 0.5s ease-in;
    
}

.page.disabled{
    cursor: not-allowed;
    color: gray;
}
.know-more{
    padding: 2px 10px;
}


/* KNOW MORE DISPLAY */

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  .embed{
    margin: 0 auto;
  }
  .embed.hide{
    display: none;
    
  }

  .embed.show{
    display: block;
  }

  .arrow{
    position:absolute;
  }

  .arrow.left-arrow{
    left: 10%;
    top: 50%;
    transform:translateY(-50%);
  }

.arrow.right-arrow{
    right:10%;
    top: 50%;
    transform:translateY(-50%);
}

.dots{
    margin-top: 30px;
}

.dots .dot{
    padding: 9px 20px;
    border-radius : 50%;
    border : 5px solid #7FFFD4;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
    display: inline-block;
}
.dots .dot.active{
    border-color: orange;
}
